<h1>Signup</h1>

<form id="signup-form">
  <input type="email" name="email">
  <input type="password" name="password">
  <input type="password" name="password_confirmation">
  <button type="submit">Signup</button>
</form>

<br>

 <button id="logout-button">Logout</button>

 <br>

<form id="signin-form">
  <input type="email" name="email">
  <input type="password" name="password">
  <button type="submit">Signin</button>
</form>